<main>
  <div class="section"></div>
  <!-- left sidebar -->
  <div class="row flexbox">
    <form class="col s12">
      <div class="input-field">
        <textarea id="textarea1" data-length="120" class="materialize-textarea"></textarea>
        <label for="textarea1">New Post</label>
      </div>

      <div class='flexbox'>
        <a class='waves-effect waves-light btn-large' id='post-btn'><i id="quack1" class='material-icons left'
            onclick="play1()">comment</i>Post</a>
      </div>
    </form>
  </div>


  <!-- end left -->
  <!-- main -->
  {{#each posts as |post|}}
  <a href="http://localhost:3001/post/{{id}}">
    <div class="row flexbox">
      <div class="col s12 ">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="">#{{post.id}}</span>
            <span class="card-title">{{user.username}}</span>
            <p>{{post.message}}</p>
          </div>
          <div class="card-action">
            <a class="waves-effect waves-blue btn-flat likeBtn">
              {{post.likes}} &nbsp
              <i class="fa-solid fa-egg"></i>Likes
            </a>
          </div>
        </div>
      </div>
    </div>
  </a>
  {{/each}}
  <div class="row flexbox">
    <button id="logout-link" class=" logoutBtn  btn waves-effect waves-teal" type="submit" name="action"><a id="quack3"
        onclick="play3()">Logout</a>
    </button>
  </div>
</main>
<audio id="audio1" src="/images/homequack.mp3"></audio>
<audio id="audio2" src="/images/queack.mp3"></audio>
<audio id="audio3" src="/images/cowboyquack.mp3"></audio>

<script src='./js/play.js'></script>
<script src="/js/logout.js"></script>
<script src="/js/post.js"></script>
<script src="/js/pond.js"></script>