<div class="posts list-group">

    <div class="post card">
        <div class="card-header flex-row justify-space-between">
            <h2>{{title}}</h2>
            <div class="flex-row">
                <p>Posted by {{user.username}} </p>
                <p> on {{format_date createdAt}}</p>
            </div>
        </div>
        <div class="card-body">
            <p>{{body}}</p>
        </div>
    </div>
    <div class="post card">
        <h3 class="card-header"></h3>
        <form class="card-body comment-form" id="comment-form">

            <label class="form-label">Comment</label>
            <input id="comment" name="comment-body" class="form-input" />

            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
    {{#each commentData as |comment|}}
    <div class="card">
        <div class="card-header"></div>
        <div class="card-body">
            <p>{{comment.message}}</p>
            <div class="flex-row">
                <p>-{{comment.User.username}} </p>
                <p> on {{comment.createdAt}}</p>
            </div>

        </div>
    </div>
    {{/each}}
</div>

</div>
<script src="/js/comment.js"></script>